.p-text{
  font-size: 20px;
  padding: 10px;
  color: black;
  background: whitesmoke;
  border-radius: 5px;
  border: 1px solid lightgray;
  font-family: Serif, serif;
}
.invalid-error{
  color: red;
  font-size: 10px;
  border-bottom-color: red;
}

.container-design{
  margin-top: 2%;
  width: 400px;
  border: 1px solid lightgray;
  padding: 10px;
  margin-bottom: 30%;
  border-radius: 5px;
}

